/*
.linebreak{
  white-space: pre;
}

.blueBox{
  border-radius: 8px;
  background-color: #039bef;
  }

.redBox{
  border-radius: 8px;
  background-color: red;
  }


.greenBox{
  border-radius: 8px;
  background-color: green;

  }

.yellowBox{
  border-radius: 8px;
  background-color: yellow;

  } */


.graph{
  margin-top: 3%;
  margin-bottom: 3%;
}
